<h1>Available Books</h1>

<!-- Navigation Bar -->
<div style="float: right;">
  <% if current_user %>
    <span>Welcome, <%= current_user.email %>!</span> 
    <%= link_to "Logout", logout_path, method: :delete, data: { turbo: false, confirm: "Are you sure you want to log out?" }, style: "color: red; margin-left: 10px;" %>
    <%= link_to "My Books", user_profile_path, style: "color: blue; margin-left: 10px;" %> <!-- ✅ Added My Books -->
  <% else %>
    <%= link_to "Login", login_path, style: "color: green;" %>
  <% end %>
</div>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> - 
      <%= book.author %> - 
      <%= book.available? ? "Available" : "Borrowed" %>
    </li>
  <% end %>
</ul>
